*{
    font-family: 'Roboto', sans-serif;
}

Container{
    font-family: 'Roboto', sans-serif;
}

.App{
    border-color: #FFD64D;
}


.body-text-1{
    height: 18px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #111111;
}

.logo-container{
    display: flex;
    justify-content: center;
}

.logo{
    position: relative;
    width: 15rem;
    height: 100%;
}
